.pnpna-top-level-wrapper {
    .pnpna-logo {
        width: 130px !important;
        height: auto !important;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .pnpna-logo-icon {
        width: 39px;
        height: 39px;
    }
}
